
<main class="main-wrapper" id="container" style="height: 500px">
  <div class="wrapper">
    <form action="/create" method="post" enctype="multipart/form-data">
      <label>タイトル</label>
      <input type="text" class="form-control" name="title">
      <label>説明</label>
      <textarea class="form-control" name="description"></textarea>
      <button type="submit" class="btn btn-success btn">投稿</button>
      <hr>
      <div class="preview" />
    </form>
  </div>
</main>


<div class="hoge">
  <a href="/">戻る</a>
</div>
