<h2><%= @message %></h2>


<div class="container form-group col-lg-6 col-md-8 col-12">
  <form action="/login" method="POST" autocomplete="off">
    <input type="text" name="name" class="form-control" id="name" placeholder="名前">
    <input type="password" name="password" class="form-control" id="password" placeholder="パスワード">

    <input type="submit" value="ログイン">
  </form>
</div>

<div class="hoge">
  <a href="/">戻る</a>
</div>
