

<div class="container form-group col-lg-6 col-md-8 col-12">
  <form action="/sign_up" method="POST" autocomplete="off">
    <input type="text" name="name" class="form-control" id="name" placeholder="名前">
    <input type="password" name="password" class="form-control" id="password" placeholder="パスワード">
    <input type="submit" value="登録"">
  </form>
</div>

<p><a href="/">戻る</a></p>
